[submodule "vendor"]
    ignore = dirty
	path = vendor
	url = git://github.com/mozilla/mozillians-lib.git
[submodule "staticfiles/js/libs/tag-it"]
    ignore = dirty
	path = staticfiles/js/libs/tag-it
	url = git://github.com/aehlke/tag-it.git
